@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&family=Nunito:wght@700;900&display=swap');

/* reset styles */
* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    transition: all .2s linear;
    font-family: 'Averia Serif Libre', cursive;
}

.header {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 200;
    padding: 40px 10%;
}

.navbar.active {
    visibility: hidden;
}

.sign-up.active, .sign-in.active {
    display: none;
}

.sign-out {
    display: none;
}

.sign-out.active {
    display: block;
}

.logo {
    font-size: 22px;
    color: #F3EED9;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    letter-spacing: 9px;
    filter: drop-shadow(0 0 5px #09001d);
}

.logo:hover {
    color: #F3EED9;
}

.navbar a {
    font-size: 12px;
    color: #59201B;
    margin-left: 2px;
    background-color: #F3EED9;
    padding: 10px 30px;
    border-radius: 4px;
    transition: .5s;
}

.navbar a:hover {
    background-color: #59201B;
    color: #F3EED9;
}

.main-section {
    transition: .3s ease;
    background: url(../imgs/background-img.webp) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.main-section.active {
    filter: blur(15px);
    pointer-events: none;
}


.welcome-text {
    color:#f5e4e5;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.welcome-text.active {
    display: none;
}

.welcome-text-content {
    max-width: 680px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-text-content h1 {
    font-size: 60px;
    font-family: 'Nunito', sans-serif;
    color: #F3EED9;
    text-align: center;
}

.welcome-text-content .start-button {
    margin-top: 30px;
    height: 45px;
    width: 220px;
    border-radius: 8px;
    background-color: #F3EED9;
    color:#59201B;
    cursor: pointer;
    letter-spacing: 1px;
    outline: none;
    transition: .5s;
    font-size: 16px;
}

.welcome-text-content .start-button:hover {
    background-color: #670c03;
    font-size: 18px;
    color: #F3EED9;
}

.instruction {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.9);
    border-radius: 6px;
    width: 450px;
    padding: 0px 50px;
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

.instruction.active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.instruction h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    padding-bottom: 10px;
    color:#f5e4e5;
}

.instruction-list {
    background-color:#F3EED9;
    font-size: 12px;
    padding: 40px 20px;
}

.instruction .info {
    display: block;
    color:#59201B;
    padding: 10px 0;
}

.instruction .button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    padding: 10px 0;
    margin-top: 10px;
}

.instruction .button-group .info-button {
    width: 190px;
    height: 40px;
    font-size: 12px;
    background-color: #59201B;
    color:#F3EED9;
    text-transform: capitalize;
    border-radius: 6px;
    cursor: pointer;
}

.instruction .button-group .info-button:hover {
    background-color: #F3EED9;
    color: #59201B;
    transition: .5s;
}

.register-user {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.9);
    background-color: #F3EED9;
    width: 500px;
    padding: 20px 20px 40px;
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

.register-user.active {
    pointer-events: auto;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.register-user h3 {
    font-size: 30px;
    margin-bottom: 30px;
}

.title-and-close {
    display: flex;
    justify-content: space-between;
}

.title-and-close i.fa-xmark{
    color:#59201B;
    font-size: 30px;
    line-height: 30px;
    cursor: pointer;
    
}

.register-user-inner {
    display: flex;
    flex-direction: column;

}

.register-user-inner .input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.register-user-inner .register-form {
    width: 100%;
}

.register-user-inner .input-container label {
    color:#59201B;
}

.register-user-inner .input-container input {
    margin-top: 15px;
}

.register-user-inner .success input {
    border: 2px solid green;
}

.register-user-inner .success i.fa-circle-check {
    visibility: visible;
    color: green;
}

.register-user-inner .error input {
    border: 2px solid red;
}

.register-user-inner .error i.fa-circle-exclamation {
    visibility: visible;
    color: red;
}

.register-user-inner .input-group {
    position: relative;
}

.register-user-inner .input-group p {
    color: red;
    visibility: hidden;
}

.register-user-inner .error p {
    visibility: visible;
}

.register-user-inner .input-group i {
    position: absolute;
    right: 10px;
    top: 29px;
    visibility: hidden;
}

.register-user-inner .name-input {
    width: 100%;
    height: 43px;
    padding-left: 5px;
    border-radius: 6px;
    background-color:#F3EED9;
    border: 1px solid #59201B;
    font-family: 'Nunito', sans-serif;
}

.register-user-inner .email-input {
    width: 100%;
    height: 43px;
    padding-left: 5px;
    border-radius: 6px;
    background-color:#F3EED9;
    border: 1px solid #59201B;
    font-family: 'Nunito', sans-serif;
}

.register-user-inner .password-input {
    width: 100%;
    height: 43px;
    padding-left: 5px;
    border-radius: 6px;
    background-color:#F3EED9;
    border: 1px solid #59201B;
    font-family: 'Nunito', sans-serif;
}

.register-user-inner .register-btn {
    width: 100%;
    margin-top: 15px;
    padding: 13.5px 0;
    border-radius: 6px;
    background-color: #59201B;
    color:#F3EED9;
    cursor: pointer;
}

.register-user-inner .register-btn:hover {
    background-color: #670c03;
    font-size: 14px;
}

.login-user {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.9);
    background-color: #F3EED9;
    width: 500px;
    padding: 20px 20px 40px;
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

.login-user.active {
    pointer-events: auto;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.login-user h3 {
    font-size: 30px;
    margin-bottom: 30px;
}

.login-user-inner .input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-user-inner .login-form {
    width: 100%;
}

.login-user-inner .input-container label {
    color:#59201B;
}

.login-user-inner .input-container input {
    margin-top: 15px;
}

.login-user-inner .success input {
    border: 2px solid green;
}

.login-user-inner .success i.fa-circle-check {
    visibility: visible;
    color: green;
}

.login-user-inner .error input {
    border: 2px solid red;
}

.login-user-inner .error i.fa-circle-exclamation {
    visibility: visible;
    color: red;
}

.login-user-inner .input-group {
    position: relative;
}

.login-user-inner .input-group p {
    color: red;
    visibility: hidden;
}

.login-user-inner .error p {
    visibility: visible;
}

.login-user-inner .input-group i {
    position: absolute;
    right: 10px;
    top: 29px;
    visibility: hidden;
}


.login-user-inner .name-input {
    width: 100%;
    height: 43px;
    padding-left: 5px;
    border-radius: 6px;
    background-color:#F3EED9;
    border: 1px solid #59201B;
    font-family: 'Nunito', sans-serif;
}

.login-user-inner .email-input {
    width: 100%;
    height: 43px;
    padding-left: 5px;
    border-radius: 6px;
    background-color:#F3EED9;
    border: 1px solid #59201B;
    font-family: 'Nunito', sans-serif;
}

.login-user-inner .password-input {
    width: 100%;
    height: 43px;
    padding-left: 5px;
    border-radius: 6px;
    background-color:#F3EED9;
    border: 1px solid #59201B;
    font-family: 'Nunito', sans-serif;
}

.login-user-inner .login-btn {
    width: 100%;
    margin-top: 15px;
    padding: 13.5px 0;
    border-radius: 6px;
    background-color: #59201B;
    color:#F3EED9;
    cursor: pointer;
}

.login-user-inner .login-btn:hover {
    background-color: #670c03;
    font-size: 14px;
}

.quiz-section {
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    background-color: #8c493e;
    transition: .3s ease-in-out;
    transition-delay: .25s;
    padding-top: 180px;
}

.quiz-section.active {
    display: flex;
    left: 0;
}

.quiz-section .quiz-box {
    display: flex;
    flex-direction: column;
    width: 500px;
    opacity: 0;
    pointer-events: none;
    transform: scale(.9);
    transition: .2s ease;
    transition-delay: 0s;
    padding-bottom: 150px;
}

.quiz-section .quiz-box.active {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
    transition: 1s ease;
    transition-delay: 1s;
}

.quiz-box .user-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F3EED9;
    border-radius: 6px;
    padding: 20px 20px;
    color:#59201B;
}

.quiz-box .user-score {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #59201B;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.quiz-box .category-block {
    padding: 40px 0 0px 0;
}

.quiz-box .category-block h2 {
    font-size: 16px;
    font-weight: 900;
    padding-bottom: 7px;
    color:#f5e4e5;
}

.category-block .categories {
    display: flex;
    justify-content: space-between;
    border: 1px solid #F3EED9;
    color: #F3EED9;
    border-radius: 6px;
    padding: 12px 20px;
    font-size: 14px;
    cursor: pointer;
}

.quiz-box .category-block {
    position: relative;
}

.quiz-box .category-block .category-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #fff;
    padding: 20px;
    width: 100%;
    position: absolute;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.8);
    visibility: hidden;
}

.quiz-box .category-block .category-list.active {
    visibility: visible;
}

.quiz-box .category-list li {
    font-size: 14px;
    background-color: #f5f5f5;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    list-style-type: none;
    gap: 10px;
}

.quiz-box .category-list li:hover {
    background-color: #59201B;
    color: #F3EED9;
}


.quiz-box .question-block {
    background-color: #F3EED9;
    padding: 30px 20px;
    border-radius: 6px;
    margin-top: 20px;
}

.quiz-box .question-block p {
    color:#59201B;
    padding-bottom: 10px;
    font-weight: 900;
}

.question-block .answer-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.answer-options {
    display: flex;
    justify-content: space-between;
    color:#59201B;
}

.answer-options span {
    border: 1px solid #59201B;
    font-size: 12px;
    min-height: 43px;
    display: inline-flex;
    align-items: center;
    width: 220px;
    border-radius: 6px;
    padding-left: 4px;
    cursor: pointer;
}

.answer-options .answers.correct {
    background: #F3EED9;
    color:green;
    border: 2px solid rgb(18, 244, 18);
}

.answer-options .answers.incorrect {
    background: #F3EED9;
    color:rgb(131, 2, 2);
    border: 2px solid rgb(220, 32, 15);
}

.answer-options .answers.disabled {
    pointer-events: none;
}

.answer-options span:hover{
    background-color: #59201B;
    color:#F3EED9;
}

.answer-block .next-button {
    background-color: #7d4f4b;
    color: #f5e4e5;
    letter-spacing: 2px;
    padding: 13.5px 0;
    border-radius: 6px;
    cursor: pointer;
    transition: .3s;
    pointer-events: none;
}

.answer-block .next-button.active {
    pointer-events: auto;
    background-color: #59201b;
}

.answer-block .next-button.active:hover {
    background-color: #670c03;
    font-size: 14px;
}

.footer-block {
    background-color: #F3EED9;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    border-radius: 6px;
}

.footer-block .btn {
    padding: 13.5px 0;
    width: 220px;
    background-color: #59201B;
    color: #f5e4e5;
    border-radius: 6px;
    transition: .3s;
}

.footer-block .home-btn {
    background-color: #59201B;
    cursor: pointer;
}

.footer-block .home-btn:hover {
    background-color: #670c03;
    font-size: 14px;
}

.quiz-section .result-box {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%) scale(.9);
    width: 400px;
    background-color: #F3EED9;
    pointer-events: none;
    opacity: 0;
    transition: .3s ease;
    text-align: center;
    padding-bottom: 60px;
}

.quiz-section .result-box.active {
    pointer-events: auto;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.quiz-section .result-box h2 {
    color:#59201B;
    padding: 30px 0;
    font-family: 'Nunito', sans-serif;
}

.circular-progress {
    background-color: #59201B;
    color:#F3EED9;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.circular-progress .progress-value {
    color:#F3EED9;
    text-align: center;
    line-height: 70px;
}

.score-text-container {
    color:#59201B;
    margin-top: 150px;
}

.result-box .buttons {
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin-top: 20px;
}

.result-box .buttons .btn {
    background-color: #59201B;
    color:#F3EED9;
    width: 170px;
    padding: 10px 0;
    cursor: pointer;
}

.result-box .buttons .btn:hover {
    background-color: #670c03;
    font-size: 14px;
}

/**
media query (max-width: 768) starts
**/

@media only screen and (max-width: 767px) {

    .header {
        position: absolute;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        z-index: 200;
        padding: 40px 10%;
    }

    .logo {
        text-align: center;
    }

    .navbar {
        padding-top: 20px;
    }

    .navbar a {
        padding: 10px 52px;
    }

    .welcome-text {
        padding: 0px 20px;
    }

    .welcome-text-content {
        max-width: 480px;
        text-align: center;
        padding: 0px 20px 70px 20px;
    }
    
    .welcome-text-content h1 {
        font-size: 40px;
        padding-bottom: 30px;
        padding-top: 100px;
    }

    .welcome-text-content p:nth-child(4) {
        padding-top: 12px;
    }

    .welcome-text-content p:nth-child(5) {
        padding-top: 12px;
    }
    
    .welcome-text-content .start-button {
        width: 285px;
    }

    .quiz-section {
        width: 100%;
        height: 100%;
        padding-top: 180px;
    }

    .quiz-section .quiz-box {
        width: 300px;
    }

    .question-block .answer-block {
        gap: 0px;
    }
    
    .answer-options {
        flex-direction: column;
        justify-content: center;
        gap: 0px;
    }
    
    .answer-options span {
        width: 100%;
        margin-top: 10px;
    }

    .answer-block button {
        margin-top: 10px;
    
    }

    .footer-block {
        background-color: transparent;
        padding: 0px 0px;
        gap: 10px;
    }

    .quiz-section .result-box {
        width: 300px;
    }

    .score-text-container {
        color:#59201B;
        margin-top: 50px;
    }

    .result-box {
        margin-top: 100px;
    }

    .result-box .buttons {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .result-box .buttons .btn {
        width: 210px;
        padding: 10px 0;
        margin-top: 10px;
    }

    .register-user {
        width: 300px;
    }
    .register-user h3 {
        padding-left: 0px;
    }

    .login-user {
        width: 300px;
    }

    .login-user h3 {
        padding-left: 0px;
    }
}

/**
media query (max-width: 767px) ends
**/


/**
media query (max-width: 414px) starts
**/

@media only screen and (max-width: 414px) {

    .logo {
        align-items: center;
    }

    .navbar {
        padding-top: 20px;
    }

    .navbar a {
        padding: 10px 32px;
    }

    .welcome-text-content {
        max-width: 300px;
        text-align: center;
        padding: 0px 20px 0px 20px;
    }
    
    .welcome-text-content h1 {
        font-size: 30px;
    }

    .welcome-text-content p {
        font-size: 12px;
    }
    
    .welcome-text-content .start-button {
        width: 285px;
    }

    .instruction {
        top: 50%;
        width: 300px;
        padding: 0px 10px;
    }

    .result-box {
        margin-top: 150px;
    }
} 