@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&family=Nunito:wght@700;900&display=swap');

/* reset styles */
* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    transition: all .2s linear;
    font-family: 'Averia Serif Libre', cursive;
}

html {
    overflow: auto;
}

body {
    color:#f5e4e5;
    background-color: #59201B;
    overflow: hidden;
}

.header {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 200;
    padding: 40px 10%;
}

.logo {
    font-size: 22px;
    color: #F3EED9;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    letter-spacing: 9px;
    filter: drop-shadow(0 0 5px #09001d);
}

.logo:hover {
    color: #F3EED9;
}

.navbar a {
    font-size: 12px;
    color: #59201B;
    margin-left: 2px;
    background-color: #F3EED9;
    padding: 10px 30px;
    border-radius: 4px;
    transition: .5s;
}

.navbar a:hover {
    background-color: #59201B;
    color: #F3EED9;
}

.main-section {
    background: url('../imgs/background-img.webp') no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    pointer-events: auto;
    transition: .3s ease;
}

.main-section.active {
    filter: blur(15px);
    pointer-events: none;
}

.container {
    display: flex;
    height: 100vh;
    width: 200%;
}

.welcome-text {
    position: relative;
    left: -50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-text-content {
    max-width: 680px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-text-content h1 {
    font-size: 60px;
    font-family: 'Nunito', sans-serif;
    color: #F3EED9;
}

.welcome-text-content .start-button {
    margin-top: 30px;
    height: 45px;
    width: 220px;
    border-radius: 8px;
    background-color: #F3EED9;
    color:#59201B;
    cursor: pointer;
    letter-spacing: 1px;
    outline: none;
    transition: .5s;
    font-size: 16px;
}

.welcome-text-content .start-button:hover {
    background-color: #59201B;
    color: #F3EED9;
}

.instruction {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.9);
    border-radius: 6px;
    width: 450px;
    padding: 0px 50px;
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

.instruction.active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.instruction h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    padding-bottom: 10px;
    color:#f5e4e5;
}

.instruction-list {
    background-color:#F3EED9;
    font-size: 12px;
    padding: 40px 20px;
}

.instruction .info {
    display: block;
    color:#59201B;
    padding: 10px 0;
}

.instruction .button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    padding: 10px 0;
    margin-top: 10px;
}

.instruction .button-group .info-button {
    width: 190px;
    height: 40px;
    font-size: 12px;
    background-color: #59201B;
    color:#F3EED9;
    text-transform: capitalize;
    border-radius: 6px;
    cursor: pointer;
}

.instruction .button-group .info-button:hover {
    background-color: #F3EED9;
    color: #59201B;
    transition: .5s;
}

.quiz-section {
    position: relative;
    left: -50%;
    width: 100%;
    display: flex;
    justify-content: center;
    background: url('../imgs/background-img.webp') no-repeat;
    background-position: center;
    background-size: cover;
    transition: .8s ease-in-out;
    transition-delay: .25s;
    z-index: 100;
    padding-top: 250px;
}

.quiz-section.active {
    left: 0;
}

.quiz-section .quiz-box {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 500px;
    opacity: 0;
    pointer-events: none;
    transform: scale(.9);
    transition: .3s ease;
    transition-delay: 0s;
}

.quiz-section .quiz-box.active {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
    transition: 1s ease;
    transition-delay: 1s;
}

.quiz-box .user-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F3EED9;
    border-radius: 6px;
    padding: 20px 20px;
    color:#59201B;
}

.quiz-box .user-score {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #59201B;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.quiz-box .category-block {
    padding: 40px 0 20px 0;
}

.quiz-box .category-block h1 {
    font-size: 16px;
    padding-bottom: 7px;
}

.category-block .categories {
    display: flex;
    justify-content: space-between;
    border: 1px solid #F3EED9;
    color: #F3EED9;
    border-radius: 6px;
    padding: 12px 20px;
    font-size: 14px;
    cursor: pointer;
}

.quiz-box .question-block {
    background-color: #F3EED9;
    padding: 30px 20px;
    border-radius: 6px;
}

.quiz-box .question-block p {
    color:#59201B;
    padding-bottom: 10px;
    font-weight: 900;
}

.question-block .answer-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.answer-options {
    display: flex;
    justify-content: space-between;
    color:#59201B;
}

.answer-options span {
    border: 1px solid #59201B;
    font-size: 12px;
    min-height: 35px;
    display: inline-flex;
    align-items: center;
    width: 220px;
    border-radius: 6px;
    padding-left: 4px;
    cursor: pointer;
}

.answer-options .answers.correct {
    background: #F3EED9;
    color:green;
    border: 2px solid rgb(18, 244, 18);
}

.answer-options .answers.incorrect {
    background: #F3EED9;
    color:rgb(131, 2, 2);
    border: 2px solid rgb(220, 32, 15);
}

.answer-options .answers.disabled {
    pointer-events: none;
}

.answer-options span:hover{
    background-color: #8c493e;
    color:#F3EED9;
}

.answer-block button {
    background-color: #59201B;
    color:#f5e4e5;
    letter-spacing: 2px;
    padding: 12px 0;
    border-radius: 6px;
    cursor: pointer;
    transition: .3s;

}

.answer-block button:hover {
    background-color: #8c493e;
}

.skip-block {
    background-color: #F3EED9;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    border-radius: 6px;
}

.skip-block button {
    padding: 12px 0;
    width: 220px;
    background-color: #59201B;
    color: #f5e4e5;
    border-radius: 6px;
    cursor: pointer;
    transition: .3s;
}
.skip-block button:hover {
    background-color: #8c493e;
}

.quiz-section .result-box {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%) scale(.9);
    width: 400px;
    background-color: #F3EED9;
    pointer-events: none;
    opacity: 0;
    transition: .3s ease;
    text-align: center;
    padding-bottom: 60px;
}

.quiz-section .result-box.active {
    pointer-events: auto;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.quiz-section .result-box h2 {
    color:#59201B;
    padding: 30px 0;
    font-family: 'Nunito', sans-serif;
}

.circular-progress {
    background-color: #59201B;
    color:#F3EED9;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.circular-progress .progress-value {
    color:#F3EED9;
    text-align: center;
    line-height: 70px;
}

.score-text-container {
    color:#59201B;
    margin-top: 150px;
}

.result-box .buttons {
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin-top: 20px;
}

.result-box .buttons .btn {
    background-color: #59201B;
    color:#F3EED9;
    width: 170px;
    padding: 10px 0;
    cursor: pointer;
}

.result-box .buttons .btn:hover {
    background-color: #8c493e;
}

/**
media query starts
**/

@media only screen and (max-width: 768px) {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 70px 0%;
    }

    .logo {
        align-items: center;
    }

    .navbar {
        padding-top: 40px;
    }

    .navbar a {
        padding: 10px 52px;
    }

    .welcome-text-content {
        max-width: 480px;
        text-align: center;
    }
    
    .welcome-text-content h1 {
        font-size: 40px;
    }

    .welcome-text-content p:nth-child(4) {
        padding-top: 12px;
    }

    .welcome-text-content p:nth-child(5) {
        padding-top: 12px;
    }
    
    .welcome-text-content .start-button {
        width: 285px;
    }

    .quiz-section .quiz-box {
        width: 300px;
    }

    .question-block .answer-block {
        gap: 0px;
    }
    
    .answer-options {
        flex-direction: column;
        justify-content: center;
        gap: 0px;
    }
    
    .answer-options span {
        width: 100%;
        margin-top: 10px;
    }

    .answer-block button {
        margin-top: 10px;
    
    }

    .skip-block {
        background-color: transparent;
        padding: 0px 0px;
        gap: 10px;
    }
    
    .skip-block button {
        background-color: #F3EED9;
        color: #59201B;
    }

    .quiz-section .result-box {
        width: 300px;
    }

    .result-box .buttons {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .result-box .buttons .btn {
        width: 210px;
        padding: 10px 0;
        margin-top: 10px;
    }
} 